<h1> Index page </h1>

<%= link_to "New Route", new_route_path %> <br>

<h3> All Routes </h3> <br>
<% @all_routes.each do |route| %>
	<div>
	<%=link_to route.description, route_path(route), class:"text-primary" %>
	<%=link_to "Delete", route, class:"btn btn-danger", method: :delete, data: {confirm: "Are you sure"} %>
	</div>
	<br/>
<%end%>

