

<div class='row'>
	<div class="col-md-6 col-md-offset-2">
		
		<h1> Upload solution file </h1>

		<%= form_for @route, url: { action: "create_solution" }  do |f| %>
		<div class="form-group">
			<%= f.label :solution, "Solution" %>
		 	<%= f.text_area :solution, class: "form-control", size: "35x15"  %>
		</div>
		<div class="form-group"> 
			<%=f.submit "Submit", class: "btn btn-primary" %>
		</div>
		<%end%>
	</div>
</div>